@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Portals</h1>
	<p>a doorway to whatever you need<br />(A work in progress)</p>
	<h2>Services</h2>
	<h3>Service distribuition</h3>
	<p>
		We are a carrer focused site focused on providing the best services for your needs as a business or individual to get your services to your target demographic.<br />
		<a>>More information, for service providers</a>.
	</p>
	<h3>Clientele provision</h3>
	<p>
		Portals is the one stop gateway for all the services you could need from door removal, window installation, and moving assistance.
		Alike for big buisness who need legal services, industrial cleaning, or web management, and much more is all provided here for you.
		We'll get you a portal to the people or buisnesses you need to get your jobs done.
		All is easy and conveint to find the most qualified and affordable service providers for your needs.<br />
		<a>More information, on Portals service</a>
	</p>
</div>

