/* CSS HEX */
:root {
	--paradise-pink: #ef476fff;
	--orange-yellow-crayola: #ffd166ff;
	--caribbean-green: #06d6a0ff;
	--blue-ncs: #118ab2ff;
	--midnight-green-eagle-green: #073b4cff;
	/* CSS HEX */
	--navy-blue: #03045eff;
	--star-command-blue: #0077b6ff;
	--cerulean-crayola: #00b4d8ff;
	--sky-blue-crayola: #90e0efff;
	--powder-blue: #caf0f8ff;
	/*Bootstrap overrides*/
	--primary: var(--sky-blue-crayola);
	--secondary: var(--powder-blue);
}

body{
	background-color: var(--secondary);
}
header{
	background-color: var(--primary)
}

/*less pronounce space in footer paragraphs*/
footer.footer {
	line-height: 25px;
	padding: 15px;

}